.card{
    border-radius: 10px;
    margin-bottom:25px;
}
.card-img-top{
    border-radius: 10px 10px 0 0;
}
.card-link{
    text-decoration:none;
    color:white;
    font-weight: bold;
}
.card-link:hover{
    text-decoration:none;
    color:white
}
.title{
    background-color: dodgerblue;
    border-radius: 0 0 10px 10px;
}