.navContainer{
    background-color: transparent;
}
.blackText{
    color:black!important;
}
.logo{
    width:100px;
    margin-top: -7px;
}
.link{
    text-decoration:none;
    color:black;
    font-weight: bold;
}
.link:hover{
    text-decoration:none;
    color:blue;
}
.search-bar{
    position: absolute;
    width: 20% !important;
    height: 44px;
    left:20%;
    background: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}